/* font-family: "MyriadProCondRegular"; */
@font-face {
    font-family: "MyriadProCondRegular";
    src: url("fonts/MyriadProCondRegular/MyriadProCondRegular.eot");
    src: url("fonts/MyriadProCondRegular/MyriadProCondRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProCondRegular/MyriadProCondRegular.woff") format("woff"),
    url("fonts/MyriadProCondRegular/MyriadProCondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SeminariaNormal";
    src: url("fonts/SeminariaNormal/SeminariaNormal.eot");
    src: url("fonts/SeminariaNormal/SeminariaNormal.eot?#iefix")format("embedded-opentype"),
    url("fonts/SeminariaNormal/SeminariaNormal.woff") format("woff"),
    url("fonts/SeminariaNormal/SeminariaNormal.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}